<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package siteId="Autofac" version="3.5.2" targetFramework="net452" />
  <package siteId="Autofac.Owin" version="3.1.0" targetFramework="net452" />
  <package siteId="Autofac.WebApi2" version="3.4.0" targetFramework="net452" />
  <package siteId="Autofac.WebApi2.Owin" version="3.3.0" targetFramework="net452" />
  <package siteId="AutoMapper" version="4.1.1" targetFramework="net452" />
  <package siteId="Microsoft.AspNet.WebApi.Client" version="5.2.0" targetFramework="net452" />
  <package siteId="Microsoft.AspNet.WebApi.Core" version="5.2.0" targetFramework="net452" />
  <package siteId="Microsoft.AspNet.WebApi.Owin" version="5.2.0" targetFramework="net452" />
  <package siteId="Microsoft.Owin" version="3.0.1" targetFramework="net452" />
  <package siteId="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net452" />
  <package siteId="Newtonsoft.Json" version="4.5.11" targetFramework="net452" />
  <package siteId="Owin" version="1.0" targetFramework="net452" />
  <package siteId="xunit.abstractions" version="2.0.0" targetFramework="net452" />
  <package siteId="xunit.assert" version="2.1.0" targetFramework="net452" />
  <package siteId="xunit.core" version="2.1.0" targetFramework="net452" />
  <package siteId="xunit.extensibility.core" version="2.1.0" targetFramework="net452" />
  <package siteId="xunit.extensibility.execution" version="2.1.0" targetFramework="net452" />
</packages>